


<script type="text/javascript" src="/common/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/common/bootstrap-formValidation/js/formValidation.js"></script>
<script type="text/javascript" src="/common/bootstrap-formValidation/js/framework/bootstrap.js"></script>
<script type="text/javascript" src="/common/bootstrap-formValidation/js/language/zh_CN.js"></script>

<script type="text/javascript" src="/common/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/javascripts/common.js"></script>
</body>
</html>