<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/common/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/common/jquery-confirm/jquery-confirm.min.css"/>
    <link rel="stylesheet" href="/common/bootstrap-formValidation/css/formValidation.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script type="text/javascript" src="/common/jquery-3.2.1.min.js"></script>
</head>
<body>

<%- include('head_nav') %>
