<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">mailbox</a>
        </div>
        <div>   <!--这里需要判断是否已经登录-->
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">写信</a></li>
                <li><a href="#">收信箱</a></li>
                <li><a href="#">草稿箱</a></li>
                <li><a href="#">发件箱</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>975156298@qq.com</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
